@CHARSET "UTF-8";


@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-greek.woff);
}

@font-face {
    font-family: Calligraphy;
    src: url(fonts/cal.otf);
}

body{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top right, #FAFFFA 0%, #C9C9C9 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top right, #FAFFFA 0%, #C9C9C9 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top right, #FAFFFA 0%, #C9C9C9 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #FAFFFA), color-stop(1, #C9C9C9));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top right, #FAFFFA 0%, #C9C9C9 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom left, #FAFFFA 0%, #C9C9C9 100%);
	display: none;
}

.container{
	margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
	font-family: 'Roboto', sans serif;
	font-size: 11pt;
}

/*HEADERS*/
.header-1{
	padding-top: 30px;
	background: url(../images/sky.bmp) no-repeat;
	background-size: cover;
}

.header-2{
	background: #8B0000;
	color: #fff;
}

#logo{
	font-family: 'Calligraphy', sans serif;
	font-size: 27pt;
	letter-spacing: 5px;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	//margin-top: 5px; 
}

#sound{
	width: 25px;
	position: absolute;
	float: right;
	top: 20px;
	right: 50px;
	cursor: pointer;
}

.slideshow-container{
	display: none;
	width:  650px; 
	height: 420px; 
}

#nav{ 
	width: 650px;
	position: relative;
	top: -50px;
}

#nav li{
	float: left;
	list-style: none;
}

#nav li:hover{
	opacity: 0.7;
}

.activeSlide img{
	outline: 3px solid #537cb4;
}

#lezanta{
	width: 650px;
	font-family: 'Calligraphy', sans serif;
	font-size: 30pt;
	font-weight: bold;
	letter-spacing: 5px;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	z-index: 100;
	position: relative;
	top: -38px;
	background: #DCDCDC;
	opacity: 0.4;
	padding-right: 5px;
	text-align: right;
}

.fa-circle{
	font-size: 5pt;
	position: relative;
	top: -4px;
}

.header-hover{
	display: inline-table;
	padding-top: 16px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	cursor: pointer;
}

a, a:active, a:hover{
	text-decoration: none;
	color: #fff;
}

.useful-links{
	position: relative;
	left: -20px;
	display: none;
}

.useful-links li a{
	color: #000 !important;
}

.active-footer-elem{
	color: #8B0000;
	cursor: pointer;
}

.languages{
	margin: 0 auto;
	margin-top: 10px;
	//margin-left: 10px;
}

.flag{
	width: 20px;
	margin-right: 7px;
	cursor: pointer;
}

.book-online-container{
	float: left;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

.book-online-literal{
	text-align: center;
	font-size: 15pt;
	font-weight: bold;
	color: #c7bc67;
	margin-top: 5px;
	margin-bottom: 20px;
}

.reservation-item{
	margin-top: 7px;
}

.book-online{
	margin-left: 10px;
	margin-top: 20px;
	background: #875422;
	color: #fff;
	width: 250px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: left;
	
}

.active-link{
	background: #888888;
}

.fa-calendar{
	margin-top: 10px;
	font-size: 13pt;
	position: relative;
	left: 10px;
	cursor: pointer;
	color: #c7bc67;
}

.fa-asterisk{
	color: #8B0000;
	margin-top: 10px;
	font-size: 9pt;
}

.datepicker{
	font-size: 8pt;
}

.datepicker .table-condensed thead tr:nth-child(1){
	background: #8B0000;
	color: #fff;
}

.datepicker, input, .modal{
	font-family: 'Roboto', sans serif;
}


td.disabled.day{
	color: #000 !important;
	opacity: 0.7;
}

td.day.active{
	background: #8B0000 !important;
}

.book-field{
	margin-bottom: 15px;
	font-size: 10pt;
}

.book-field input, .book-field select{
	width: 100px;
}
/*->HEADERS*/

input, select{
	height: 30px;
}

input#email-us{
	font-size: 12pt;
	width: 100px;
	height: 40px;
	background: #8B0000;
}

input#review-us{
	font-size: 12pt;
	width: 120px;
	height: 40px;
	background: #8B0000;
}

.modal-title{
	color: #8B0000;
}

.modal-content{
	border: 1px solid #8B0000;
}

input#check-availability{
	font-size: 10pt;
	width: 190px;
	height: 40px;
	background: #8B0000;
	border: 1px #875422 solid;
	margin-top: 10px;
	font-weight: bold;
}

.text-hover{
	color: #c7bc67 !important;
}

.welcome{
	float: none;
	margin: 0 auto;
	margin-bottom: 40px;
}

.content-title{
	font-size: 18pt;
	color: #8B0000;
}

.sub-title{
	font-size: 16pt;
	color: #8B0000;
}

.footer-social{
	background: #F4F4F4;
	border-top: 1px solid #8B0000;
	border-bottom: 1px solid #8B0000;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 9pt;
}

.footer-social img{
	width: 40px;
	margin-right: 10px;
}

#wifi{
	width: 90px;
}

.footer-flash{
	border-top: 1px solid #989898;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
}

.markiza{
	margin-top: 80px;
}

.rolex{
	cursor: pointer;
}


.footer-2{
	background: #9B9B9B;
	padding-top: 30px;
	color: #fff;
	font-size: 9pt;
}

.footer-2 .row{
	padding-bottom: 15px;
}

.copyright{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 9pt;
	color: #000;
}

#time-window .modal-dialog{
	width: 900px;
}

#map-window .modal-dialog{
	z-index: 9999;
	width: 800px;
}

#weather-window .modal-dialog{
	width: 820px;
}

#currency-window .modal-dialog{
	width: 205px;
}

#message-window .modal-dialog{
	width: 300px;
}

.email-message, .review-message, .fail-message, .captcha-message{
	display: none;
}

#message{
	display: none;
}

/*GALLERY*/
.gallery-container img{
	width: 200px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 10px;
}

.full-image img{
	z-index: 200;
	position: absolute;
	left: 50px;
	display: none;
	cursor: pointer;
}
/*->GALLERY*/


/*LOCATION*/
#googleMap{
	width: 100%;
	height: 250px;
}

#googleMap-2{
	width: 100%;
	height: 400px;
}

#map-image{
	width: 80px;
}

#map-1-info{
	width: 110px; 
	overflow: hidden !important;;
	white-space: nowrap;
	height: 20px;
}

#map-2-info{
	width: 110px; 
	float: left; 	
}

#map-3-info{
	overflow: hidden !important;;
	white-space: nowrap;
	width: 140px;
	float: right; 	
}

#view-map{
	font-size: 8pt;
}
/*->LOCATION*/


.review-label{
	color: #8B0000;
	margin-bottom: 15px;
}

.review-label span{
	margin-left: 10px;
	font-weight: bold;
	color: #000;
}

.review-label .fa-star-o, .review-label .fa-star{
	cursor: pointer;
}

.review-container div{
	border-bottom: 1px dotted #8B0000;
}

.review-line{
	border-top: 1px solid #8B0000;
}

.review-date{
	font-size: 12px;
	width: 90px;
	padding-bottom: 4px; 
	border-right: 1px dotted #8B0000;
}

.review-comment{
	font-style: italic;
	border-right: 1px dotted #8B0000;
}

.review-avg{
	color: #8B0000;
	font-weight: bold;
	width: 40px;
}

.review-star{
	color: #8B0000;
	font-weight: bold;
	width: 100px;
}

.copyright{
	margin-top: 5px;
}

.email a{
	color: #000;
}

.travel-images img{
	width: 130px;
	height: 100px;
	margin: 10px;
}

.content-image-title{
	margin-left: 10px;
}

.content-sub-title{
	font-weight: bold;
}

#captcha-img{
	width: 190px;
}

#captcha-text{
	font-size: 9pt;
}

.modal-map-title.address{
	display: none;
}

.contact-field{
	margin-bottom: 10px;
}


	@media (max-width: 1200px) {
		
		.header-2{
			//margin-top: 40px;
		}
	
	}











