@CHARSET "UTF-8";


@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-greek.woff);
}

body{
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(61%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
	background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
	display: none;
}

.container{
	margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
	font-family: 'Roboto', sans serif;
	font-size: 11pt;
}


/*HEADERS*/
.the-header{
	float: none;
	margin: 0 auto;
}

.header-1{
	padding-top: 5px;
	height: 35px;
}

.header-2{
	background: #8B0000;
	color: #fff;
}

.header-hover{
	display: inline-table;
	padding-top: 16px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	cursor: pointer;
}

a, a:active, a:hover{
	text-decoration: none;
	color: #fff;
}

.useful-links{
	display: none;
}

.useful-links li a{
	color: #000 !important;
}

.active-footer-elem{
	color: #8B0000;
	cursor: pointer;
}

.slideshow img{
    width:  670px; 
    height: 420px; 
    top:  0; 
    right: 0; 
} 

.languages{
	margin: 0 auto;
	margin-top: 10px;
	margin-left: 10px;
}

.flag{
	width: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.book-online-container{
	float: left;
	text-align: left;
}

.book-online-literal{
	text-align: center;
	font-size: 15pt;
	font-weight: bold;
	color: #c7bc67;
	margin-top: 5px;
	margin-bottom: 20px;
}

.reservation-item{
	margin-top: 7px;
}

.book-online{
	margin-left: 10px;
	margin-top: 20px;
	background: #875422;
	color: #fff;
	width: 250px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.slideshow-container{
	display: none;
	float: right;
	width: 670px;
}

.active-link{
	background: #888888;
}

.fa-calendar{
	margin-top: 10px;
	font-size: 13pt;
	position: relative;
	left: 6px;
	cursor: pointer;
	color: #c7bc67;
}

.datepicker .table-condensed thead tr:nth-child(1){
	background: #8B0000;
	color: #fff;
}

td.disabled.day{
	color: #000 !important;
	opacity: 0.7;
}

td.day.active{
	background: #8B0000 !important;
}

.book-field{
	margin-bottom: 15px;
	font-size: 10pt;
}

.book-field input, .book-field select{
	width: 100px;
}
/*->HEADERS*/


.datepicker, input, .modal{
	font-family: 'Roboto', sans serif;
}

input, select{
	height: 30px;
}

input#email-us{
	font-size: 12pt;
	width: 100px;
	height: 40px;
	background: #8B0000;
}

input#review-us{
	font-size: 12pt;
	width: 120px;
	height: 40px;
	background: #8B0000;
}

.modal-title{
	color: #8B0000;
}

.modal-content{
	border: 1px solid #8B0000;
}

input#check-availability{
	font-size: 10pt;
	width: 190px;
	height: 40px;
	background: #8B0000;
	border: 1px #875422 solid;
	margin-top: 10px;
	font-weight: bold;
}

.text-hover{
	color: #c7bc67 !important;
}

.welcome{
	float: none;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.content-title{
	font-size: 18pt;
	color: #8B0000;
}

.sub-title{
	font-size: 16pt;
	color: #8B0000;
}

.footer-1{
	background: #F4F4F4;
	border-top: 1px solid #8B0000;
	border-bottom: 1px solid #8B0000;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 9pt;
}

.footer-1 img{
	width: 35px;
}


.footer-2{
	background: #9B9B9B;
	padding-top: 30px;
	color: #fff;
	font-size: 9pt;
}

.footer-2 .row{
	padding-bottom: 15px;
}

.copyright{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 9pt;
	color: #000;
}

#time-window .modal-dialog{
	width: 900px;
}

#weather-window .modal-dialog{
	width: 820px;
}

#currency-window .modal-dialog{
	width: 205px;
}

#message-window .modal-dialog{
	width: 300px;
}

.email-message, .review-message, .fail-message{
	display: none;
}

#message{
	display: none;
}

/*GALLERY*/
.gallery-container img{
	width: 200px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.gallery-row{
	margin-bottom: 20px;
}
/*->GALLERY*/


/*LOCATION*/
#googleMap{
	margin-top: 50px;
	width: 100%;
	height: 350px;
}

#view-map{
	font-size: 8pt;
}

#googleMap-2{
	width: 100%;
	height: 360px;
}
/*->LOCATION*/


.review-label{
	color: #8B0000;
	margin-bottom: 15px;
}

.review-label span{
	margin-left: 10px;
	font-weight: bold;
	color: #000;
}

.review-label .fa-star-o, .review-label .fa-star{
	cursor: pointer;
}


.review-container div{
	border-bottom: 1px dotted #8B0000;
}

.review-line{
	border-top: 1px solid #8B0000;
}

.review-date{
	font-size: 12px;
	width: 90px;
	padding-bottom: 4px; 
	border-right: 1px dotted #8B0000;
}

.review-comment{
	font-style: italic;
	border-right: 1px dotted #8B0000;
}

.review-avg{
	color: #8B0000;
	font-weight: bold;
	width: 40px;
}

.review-star{
	color: #8B0000;
	font-weight: bold;
	width: 100px;
}


.contact-field{
	margin-bottom: 10px;
}


	@media (max-width: 1200px) {
		
		.header-2{
			margin-top: 40px;
		}
	
	}











