@CHARSET "UTF-8";


@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-greek.woff);
}

body#accomodation, body#offers, body#location{
	background: #E5E5E5;
}

.container{
	width: 100%;
	font-family: 'Roboto', sans serif;
}

.general-area-1{
	background: #E5E5E5;
	padding-bottom: 50px;
}

.general-area-2{
	background: #F4F4F4;
	padding-bottom: 20px;
}

.general-area-3{
	background: #E5E5E5;
	padding-bottom: 20px;
	float: none;
	margin: 0 auto;
}

.header-hover.active{
	background: #888888;
}

.fixed{
	position: fixed;
	height: 122px;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #E5E5E5;
}

.header-1{
	padding-top: 20px;
	height: 40px;
}

.flag{
	width: 18px;
	margin-right: 5px;
}

.languages{
	font-size: 9pt;
	min-width: 130px;
}

.reserve-container, .availability{
	font-size: 11pt;
	background: #008080;
	color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background: #008080;
}

.datepicker, input{
	font-family: 'Roboto', sans serif;
}

.datepicker .table-condensed thead tr:nth-child(1){
	background: #DC143C;
	color: #fff;
}

td.day.active{
	background: #8B0000 !important;
}

.header-2{
	background: #8B0000;
	color: #fff;
	margin-top: 40px;
}

.header-2 .header-literal{
	min-width: 80px !important; 
	display: inline-table;
	font-size: 12pt;
	padding-top: 16px;
	padding-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.header-hover a, .header-hover a:active{
	text-decoration: none;
	color: #fff;
}

.link-1 a, .link-1 a:active{
	text-decoration: none;
	color: #8B0000;;
}

.header-2 .header-hover:hover{
	background: #888888;
	color: #fff;
}

.header-2 .header-home{
	display: inline-block;
}

.fa-home{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

input.datepicker{
	font-weight: bold;
	width: 100px;
}

.reserve-menu{
	width: 260px;
	padding: 5px;
}

.reserve-label-container div{
	margin-top: 20px;
}

.reserve-label{
	font-weight: bold;
	margin-left: 15px;
}

.select-adults, .select-rooms{
	margin-left: 10px;
	margin-top: 5px;
}

.select-kids, .password-area{
	margin-top: 5px;
	position: relative;
	left: -10px;
}

.availability-area{
	margin-top: 15px;
}

.edit-delete-reservation{
	margin-top: 15px;
	margin-bottom: 15px;
}

.availability-center-area{
	background: url("../images/availability.png");
	color: #fff;
	float: none;
	margin: 0 auto;
	margin-top: 60px;
	font-weight: bold;
	font-size: 12pt;
}

.avail-label{
	font-size: 11pt;
	display: inline-block;
	padding-top: 5px;
	padding-left: 15px;
	min-width: 150px; 
	width: 150px; 
}

.avail-form-group{
	margin-top: 5px;
	display: inline-block;
	padding-left: 15px;
	padding-bottom: 10px;
	min-width: 150px; 
	width: 150px; 
}

.avail-form-group input{
	width: 140px;
}

.avail-form-group .btn{
	background: #3a9a18;
	box-shadow: 0px 0px 10px #fff;
	border: 2px solid #fff;
}

.welcome{
	float: none;
	margin: 0 auto;
	margin-top: 50px;
}

.welcome .title{
	font-size: 18pt;
	color: #8B0000;
}

.area-1, .area-2, .area-4, .area-5, .area-6, .area-7, .area-8, .area-9, .area-10{
	width: 1150px;
	float: none;
	margin: 0 auto;
	margin-top: 10px;
}

.area-4{
	margin-top: 40px;
}

.area-5 img{
	width: 320px;
}

.area-3{
	position: relative;
	left: -60px;
}

.area-1 .title, .area-4 .title{
	font-size: 13pt;
	color: #8B0000;
}

.side-text{
	font-weight: bold;
}

.fa-chevron-right{
	color: #8B0000;
	margin-right: 5px;
}


.footer-1{
	background: #F4F4F4;
	border-top: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-1 img{
	width: 35px;
}

.footer-2{
	background: #646464;
	padding-top: 30px;
	color: #bdbdbd;
}

.area-6 .title{
	font-weight: bold;
	font-size: 14pt;
}

.vertical-line{
	font-size: 14pt;
	margin-right: 5px;
}

.dashed{
	border-bottom: 1px dashed;
}

.contact{
	padding-top: 15px;
}

.copyright{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 9pt;
	color: #fff;
}

.main-area .rooms-header{
	float: none;
	margin: 0 auto;
	font-size: 12pt;
}

.main-area .boxes{
	font-size: 11pt;
}

.main-area .title{
	font-size: 16pt;
	color: #8B0000;
}

.main-area .sub-title{
	font-size: 14pt;
	color: #8B0000;
	margin-bottom: 20px;
}

.boxes .left-side{
	text-align: right;
}

.boxes .right-side{
	text-align: center;
	font-size: 13pt;
	color: #8B0000;
}

.boxes img{
	width: 100%;
}

.camera{
	width: 40px !important;
	position: relative;
	top: -25px;
	left: 7px;
}

.boxes .price{
	font-size: 20pt;
}

.btn.do-reserve{
	background: #008080;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.plus-area{
	margin-top: 15px;
	cursor: pointer;
}

.fa-plus, .fa-minus{
	color: #8B0000;
	font-size: 20pt;
}

.details{
	//display: none;
	font-size: 11pt;
}

.horizontal-line{
	border-top: 1px solid #8B0000;
	width: 100%;
}

.room-title{
	font-size: 14pt;
	color: #8B0000;
}

.main-area .center{
	float: none;
	margin: 0 auto;
	text-align: justify;
}

#googleMap{
	margin-top: 50px;
	width: 100%;
	height: 350px;
}

#view-map{
	font-size: 8pt;
}

.location-area img{
	width: 100%;
}













